.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .heading {
      display: flex;

      svg {
        cursor: pointer;
      }
    }
  }
}
